:root {
  --blue: #114357;
  --ligh-blue: #3BBCF0;
  --wave-light-blue: #85c8dc;
  --mauve: #A6787D;
  --pink: #F29492;
  --light-grey: #A8ACAE;
  --dark-grey: #a8acae4f;
  --gradient: linear-gradient(90deg, rgba(242,148,146,0.7651162790697674) 0%, rgba(25,127,167,0.4744186046511628) 78%) 0%;
}

